@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 16vmin;
    height: 16vmin;
    border-radius: 16vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 99%;
    left: 92%;
    animation-duration: 30s;
    animation-delay: -49s;
    transform-origin: -5vw -6vh;
    box-shadow: -32vmin 0 4.4137219563940135vmin currentColor;
}

.background span:nth-child(1) {
    color: #583C87;
    top: 33%;
    left: 41%;
    animation-duration: 41s;
    animation-delay: -49s;
    transform-origin: -9vw 17vh;
    box-shadow: 32vmin 0 4.318454001382817vmin currentColor;
}

.background span:nth-child(2) {
    color: #583C87;
    top: 58%;
    left: 24%;
    animation-duration: 55s;
    animation-delay: -14s;
    transform-origin: 14vw -7vh;
    box-shadow: -32vmin 0 4.858305722510991vmin currentColor;
}

.background span:nth-child(3) {
    color: #583C87;
    top: 7%;
    left: 29%;
    animation-duration: 38s;
    animation-delay: -23s;
    transform-origin: 22vw -9vh;
    box-shadow: -32vmin 0 4.93437425188416vmin currentColor;
}

.background span:nth-child(4) {
    color: #E45A84;
    top: 27%;
    left: 92%;
    animation-duration: 13s;
    animation-delay: -36s;
    transform-origin: -19vw -14vh;
    box-shadow: -32vmin 0 4.612408124382979vmin currentColor;
}

.background span:nth-child(5) {
    color: #FFACAC;
    top: 66%;
    left: 88%;
    animation-duration: 36s;
    animation-delay: -41s;
    transform-origin: -12vw 15vh;
    box-shadow: -32vmin 0 4.466691253575824vmin currentColor;
}

.background span:nth-child(6) {
    color: #E45A84;
    top: 75%;
    left: 44%;
    animation-duration: 53s;
    animation-delay: -5s;
    transform-origin: -21vw 17vh;
    box-shadow: 32vmin 0 4.103026968413374vmin currentColor;
}

.background span:nth-child(7) {
    color: #583C87;
    top: 47%;
    left: 30%;
    animation-duration: 17s;
    animation-delay: -46s;
    transform-origin: 15vw 21vh;
    box-shadow: -32vmin 0 4.8370499574912vmin currentColor;
}

.background span:nth-child(8) {
    color: #E45A84;
    top: 44%;
    left: 20%;
    animation-duration: 34s;
    animation-delay: -21s;
    transform-origin: 15vw 25vh;
    box-shadow: 32vmin 0 4.422992511798934vmin currentColor;
}

.background span:nth-child(9) {
    color: #E45A84;
    top: 15%;
    left: 1%;
    animation-duration: 32s;
    animation-delay: -17s;
    transform-origin: -11vw 9vh;
    box-shadow: -32vmin 0 4.549953031660845vmin currentColor;
}

.background span:nth-child(10) {
    color: #583C87;
    top: 39%;
    left: 69%;
    animation-duration: 32s;
    animation-delay: -22s;
    transform-origin: -24vw -15vh;
    box-shadow: 32vmin 0 4.334515141389171vmin currentColor;
}

.background span:nth-child(11) {
    color: #E45A84;
    top: 48%;
    left: 74%;
    animation-duration: 42s;
    animation-delay: -8s;
    transform-origin: -20vw -19vh;
    box-shadow: 32vmin 0 4.380793144444882vmin currentColor;
}

.background span:nth-child(12) {
    color: #583C87;
    top: 41%;
    left: 89%;
    animation-duration: 50s;
    animation-delay: -29s;
    transform-origin: -4vw -20vh;
    box-shadow: -32vmin 0 4.619233831853219vmin currentColor;
}

.background span:nth-child(13) {
    color: #583C87;
    top: 23%;
    left: 59%;
    animation-duration: 39s;
    animation-delay: -11s;
    transform-origin: -2vw 23vh;
    box-shadow: 32vmin 0 4.741973786911852vmin currentColor;
}

.background span:nth-child(14) {
    color: #FFACAC;
    top: 61%;
    left: 6%;
    animation-duration: 14s;
    animation-delay: -22s;
    transform-origin: -2vw 19vh;
    box-shadow: -32vmin 0 4.692552345665828vmin currentColor;
}

.background span:nth-child(15) {
    color: #583C87;
    top: 26%;
    left: 95%;
    animation-duration: 10s;
    animation-delay: -49s;
    transform-origin: -24vw 6vh;
    box-shadow: 32vmin 0 4.939485718346613vmin currentColor;
}

.background span:nth-child(16) {
    color: #E45A84;
    top: 91%;
    left: 39%;
    animation-duration: 8s;
    animation-delay: -43s;
    transform-origin: 1vw 23vh;
    box-shadow: -32vmin 0 4.870468575885422vmin currentColor;
}

.background span:nth-child(17) {
    color: #E45A84;
    top: 71%;
    left: 8%;
    animation-duration: 37s;
    animation-delay: -10s;
    transform-origin: 11vw 8vh;
    box-shadow: 32vmin 0 4.007218368404472vmin currentColor;
}

.background span:nth-child(18) {
    color: #E45A84;
    top: 61%;
    left: 55%;
    animation-duration: 48s;
    animation-delay: -24s;
    transform-origin: 17vw 25vh;
    box-shadow: -32vmin 0 4.0026642270605235vmin currentColor;
}